*,*::after,*::before{
    box-sizing: border-box;
}

html, 
body
 {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
    background-color: #FAFAFA;
    color: #141414;
}

.container {
    width: 90%;
    max-width: 900px;
    padding-top: 1.5em;
    margin: 0 auto;
}
a,
span{
    display: block;
}

a{
    text-decoration: none;
    color: #090909;
}
ul{
    list-style: none;
}
/* nav */

header{
    padding: 3em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 12vh;
}


.logo,
.nav-list{
    display: flex;
    align-items: center;
   
}
.logo{
    margin: 0;
    padding: 0.3em 0 0.3rem 1.5rem;
}

.logo-img{
    width: 50%;
    height: 8.5vh;
    border-radius: 86%;
    box-shadow: -5px 5px 5px #505050;
}
.logo-heading{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 1em;
    text-shadow: 1px 1px 2px #2d2d2d;
}

.nav-link{
    margin:0 1em;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;

}

/* blog 1 */
.rel li{
    list-style: disc;
}

.blog1{
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 3.7em;
}


@media (min-width: 576px){
   .float{
    float: left;
    margin-right: 1.6em;
    margin-bottom: 0.9em;
} 
}

.float{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.about-head{
   margin: 1em 0;
}

.float:hover{
    opacity: 80%;
}
.logo-heading:hover{
    color: #cc0000;
}
.name{
    color: #008080;
}
.name:hover{
    color: #E11D48;
}
.hover:hover{
        color: #999999;
}
.green{
    color: #bada55;
}
.green:hover{
    color: #C60278;
}

.sub-heading{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0;
}
/* CSS Grid Magic */
.posts {
    display: grid;
    gap: 1em;  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

article {
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: 45vh;
}

.article-info {
    text-transform: uppercase;
}

.article-img {
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5em 0 0.35em 0;
}

.article-preview {
    margin-top: 0;
    color: #505050;
}

p {
    line-height: 1.3;
}


footer{
    background-color: #2d2d2d;
    border: none;
    color: white;
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1rem;
}

footer p,
footer span{
    padding: 0%;
} 

.link-nxt-page{
    text-decoration: underline;
    text-align: center;
    color: black;
    margin-bottom: 2em;
    font-size: 1.2rem;
    font-weight: bold;
}
.link-nxt-page:hover,
.link-nxt-page:focus{
    color: #B350F5;
}